.header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff
}
/* Na página do CSS utilizei do atributo "." para puxar do HTML e realizar as alterações visuais, acho dessa forma mais prático para me organizar */

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* margin, padding para remover as margens do navegador e box-sizing: border-box para alterar a forma que o tamanho de um elemento é calculado */

body {
    background: #0d0d0d;
    font-family: Arial, sans-serif;
/* altera cor de fundo do site + fonte */
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
/* organização dos elementos dentro do container */   
}

.card {
    background: #1a1a1a;
    width: 250px;
    height: 350px;

    border: 2px solid  #333;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    color: white;

/*semelhante ao que foi feito em .container, porém diverge em escala, aqui estou alterando um card no geral*/

}

.icon {
    font-size: 40px;
}

/*tamanho do icon/emoji*/

.card p {
    text-align: center;
    font-size: 14px;
}

/*aqui é a alteração do texto dentro do card*/

.btn {
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    /* btn/button removi a borda, ajustei tamanho, cor e o cursor ao passar*/
}
a.btn {
    text-decoration: none;
    display: inline-block;
    text-align: center;

/*aqui eu to tirando o sublinhado que fica em muitos sites quando tem link atrelado, também utilizei do inline para não ficar estranho o botão e centralizei*/

}
.grey {
    background: #79777746;
    /*cor do botão*/
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
/*Aqui é basicamente o efeito que a gente tem quando passa o mouse em cima do card, é uma animação*/
